/target

/IGNORE
/IGNORE_THIS
/TODO
/REF
/DEPRECATED

output/

*.elf
*.so
*.so.1
*.so.1.0.0
*.a
*.o
*.obj
*.core

.idea/
.vscode/

!/resources/**/*.elf
!/resources/**/*.so
!/resources/**/*.so.1
!/resources/**/*.so.1.0.0
!/resources/**/*.a
!/resources/**/*.o
!/resources/**/*.obj